<div style="height: 210mm;
      width: 148.5mm; padding:10px; text-align:center; border: 20px solid #787878">
                <div style="height:190mm;  text-align:center; border:10px solid #787878">
                       <span style="font-size:25px; font-weight:bold">Marriage</span>
                       <br><br>
                       <span style="font-size:12px"><i>This certifies that</i></span>
                       <br><br>
                       <span style="font-size:15px"><b>HHHHHH and HHHHHHH</b></span><br/><br/>
                       <span style="font-size:12px"><i>were united before the World in marriage</i></span> <br/><br/>
                       <span style="font-size:15px">at </span> <br/><br/>
                       <span style="font-size:10px">On 2019/24/44
                       }</span> <br/>
                       <span style="font-size:12px"><i>by <img src="${
                         data[0][5]
                       }" width="100px"></i></span><br>
                                 <span style="font-size:15px"><i>Signture<img src="${
                                   data[1].creator_sign
                                 }" width="100px"></i>
                                 <i>Signture<img src="${
                                   data[2].spouse_sign
                                 }" width="100px"></i></span>
                       <br/> <br/>
                    </div>
                </div>