*{
  font-family: 'Varela Round', sans-serif;
}
#map {
  height: 300px;
}

.nav-left{
  display: flex;
  align-items: center
}
.logo{
  margin-right: 20px;
}
.nav-bg{
  background-color: #FFFFFF;
  border-top: #FFCAD4 solid 6px;
  padding: .8rem 1rem;
}
.nav-right-items{
  margin-right: 20px
}

.titles{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

.big-titles{
  font-family: 'Playfair Display', serif;
}

.values{
  font-size: 14px
}

.items-container{
  display:flex;
  align-items: center
}

.text-box {
  border-radius: 0 0.15rem 0.15rem 0;
  margin-right:0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
}

.memories-section{
  text-align:center;    
  margin-right: 135px;
  margin-left: 135px;
}

.memories{
  padding: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
.memory-header{
  font-size: 25px;
  font-family: 'Playfair Display', serif;
}

.vows{
  font-size: 18px;
  font-family: 'Playfair Display', serif;
}

@media (min-width: 576px){
.form-inline .form-control {
    width: 300px;
    height: 50px;
  }
}

.btn-search {
  background-color: #B0D0D3;
  border-radius:  0.15rem 0 0 0.15rem ;
  border: 1.2px solid  #B0D0D3;
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #B0D0D3;
  border-width: 1px;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.nav-item-names{
  color: rgb(144, 145, 148);;
  font-size: 20px;
  font-family: 'Catamaran', sans-serif;
}

.text-box::placeholder {
  color: rgb(144, 145, 148);
}
.search-icon{
  color: white;
}

.header-icons{
  color: #B0D0D3;
  font-size: 30px;
}

#drop-zone {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cert-title{
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.title-icons{
  margin-right: 10px
}

.item-titles{
  margin-bottom: 20px;
}

canvas {
  border-bottom: 2px solid;
  height: 80px;
  width: 100%;
}

.image2 {
  background-image: url("ams2.jpg");
}
.brand{
  font-family: "Times New Roman";
  letter-spacing: 0.25em;
}
.first-letter{
  display: inline;
  font-family: "Times New Roman";
}

.background {
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 500px;
}



.non-modal{
  border-radius: 2%
}

.header-bg{
  background-size: cover;
  background-position: center center;
  height: 600px;
  width: 100%;
  margin-bottom: 30px;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  
}
#header-img{
  background-image: url('love7.jpeg');
  filter: opacity(80%);
  
}

.slogan{
  position: absolute;
  font-size: 45px;
  top: 250px;
  left: 100px;
  color: white;
  line-height: 1.7;

}
.slogan-lines{
  line-height: 1.2;

}


.line-rows{
  margin-bottom: 20px;
}

.section-separator{
  width:100%;
  height:1.5px;
  background-color: #BCC4DB;
  border-radius: 5px;
  margin-bottom: 20px
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-control-prev{
  left: -7%
}

.carousel-control-next{
  right: -7%
}

.carousel-control-prev, .carousel-control-next{
  opacity: 1;
}

.arrow-container{
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
  
}

.arrows{
  color: black
}

.memory-separator{
  width:80%;
  height:1.5px;
  background-color: #BCC4DB;
  border-radius: 5px;
  margin-bottom: 25px;
}

.memory-separator-container{
  display: flex;
  justify-content: center;
}

.modal-pics {
  height: 600px;
  width: 100%;
}

.bigger{
    max-width: 1300px;
}
.sort-modal-pics {
  height: 300px;
  width: 100%;
}


#carousel-area {
  display: flex;
  justify-content: center;
}


#confirm-btn {
  position: absolute;
  right: 10px;
}

#confirmation-box {
  max-width: 1000px;
}

.center {
  top: 15%;
}


#close-btn {
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 3;
  font-size: 25px;
    color: white
}

#edit-btn {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 3;

}

.remove-btn{
  position: absolute;
  font-size: 20px;
  top: 5%;
  left: 8%;
  z-index: 3
}

#spinner-container{
  display:flex;
  justify-content: center
}